{:langs {"arc" "Arc"
         "clojure" "Clojure"
         "common-lisp" "Common Lisp"
         "emacs-lisp" "Emacs Lisp"
         "hy" "Hy"
         "julia" "Julia"
         "newlisp" "NewLisp"
         "racket" "Racket"
         "scheme" "Scheme"
         "shen" "Shen"}
 :cache {:host "localhost"
         :port 6379}
 :twitter {:app-consumer-key ""
           :app-consumer-secret ""
           :user-access-token ""
           :user-access-secret ""}}
