{:langs {"arc" "Arc"
         "clojure" "Clojure"
         "common-lisp" "Common Lisp"
         "dylan" "Dylan"
         "emacs-lisp" "Emacs Lisp"
         "hy" "Hy"
         "julia" "Julia"
         "newlisp" "NewLisp"
         "racket" "Racket"
         "scheme" "Scheme"
         "shen" "Shen"}
 ;; pages scraped every 120 mins, (* 1000 60 60 2)
 :scrape-every 7200000
 ;; cache expired after 2 weeks, (* 60 60 24 7 2)
 :cache-expire-after 1209600
 ;; flag to turn on/off tweet
 :twit? true}
